/* || General Setup  */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins&family=Fredoka+One&family=Monoton&display=swap");

body {
  background-color: #eaeaea;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

/* alternative box model */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* || Grid layout */

.head {
  grid-area: head;
  border-bottom: 0.75em double #ed731c;
}

.tdlist {
  grid-area: tdlist;
  margin-left: 1.5em;
}

.footer {
  border-top: 0.75em double #ed731c;
  grid-area: footer;
}

body {
  display: grid;
  grid-template-areas:
    "head"
    "tdlist"
    "footer";
  grid-template-rows: auto 1fr auto;
  gap: 1em;
}

html,
body {
  width: 100%;
  height: 100%;
}

/* || Typography */
html {
  font-family: "Open Sans", Arial, sans-serif;
  color: #ed731c;
}

h1 {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 3rem;
  margin: 0;
  display: flex;
}

#venture {
  font-size: 5rem;
  font-family: "Monoton", Arial, sans-serif;
}

#sub {
  letter-spacing: 0.25em;
  margin-top: 0.835em;
}

h2 {
  font-size: 2.5rem;
}

p {
  font-size: 1.5rem;
}

.litext {
  font-family: inherit;
  font-size: 2rem;
}

input {
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.5em;
}

button {
  font-family: "Fredoka One", Arial, sans-serif;
  font-size: 3rem;
  color: #ed731c;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

/* || Layout */

header {
  margin-left: 1.5em;
}

.footer p {
  margin-left: 1.5em;
}

/* list  */

ul {
  list-style-type: none;
}

.todo-items {
  min-width: 350px;
}

ul {
  padding: 0;
}

.container {
  margin-right: 1.5em;
}

.todo-items > li {
  display: flex;
  justify-content: flex-end;
}

.litext {
  margin-right: auto;
}

/* custom checkbox */

.checkbox {
  margin: 0;
  margin-top: 1.5em;
  margin-right: 0.5em;
  width: 1.3em;
  height: 1.3em;
  background-color: #fbfbfb;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.checkbox:checked {
  background-color: #ed731c;
}

.checked {
  text-decoration: line-through;
  color: #b8b8b8;
}

.item {
  position: relative;
  padding-left: 1em;
}

.item label {
  background-color: #fbfbfb;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
  height: 2.8em;
  width: 2.8em;
  position: absolute;
  top: 2em;
  left: -0.4em;
  z-index: -1;
}

.item label:after {
  border: 2px solid #fbfbfb;
  border-top: none;
  border-right: none;
  content: "";
  height: 0.6em;
  opacity: 0;
  position: absolute;
  top: 0.8em;
  left: 0.7em;
  transform: rotate(-45deg);
  width: 1.2em;
}

.item input[type="checkbox"] {
  opacity: 0;
  z-index: 2;
}

.item input[type="checkbox"]:checked + label {
  background-color: #ed731c;
}

.item input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

/* add button and input */

.add-button {
  margin-left: 0.08em;
}

.todo-input {
  margin-left: 0.56em;
  /* margin-right: 1em; */
  background-color: #fbfbfb;
  border: 1px solid #ddd;
  border-radius: 0.2em;
  color: inherit;
  width: 87%;
}
