@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

body {
    background-color:#f7f7f7;  
}

* {
    font-family: 'Sanchez', serif;
    font-size: large;
    color: #383838;
}

